body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.25rem;
}
h3 {
    font-size: 1.125rem;
}
label {
    font-size: 1rem;
    display:block; 
    text-align:right;
}        
p {
    font-size: .9rem;
    display:block; 
    text-align:left;
}      
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: #F1F1F1;
}
input, button {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    box-
    text-overflow: ellipsis;
}
.input_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input_box > label {
    flex: 3;
}
.input_box > p {
    flex: 1;
}        
.input_box > input {
    flex: 6;
    margin-left: 10px;
}

.input_box_slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input_box_slider > label {
    flex: 0.3;
}
.input_box_slider > p {
    flex: 0.1;
}        
.input_box_slider > input {
    flex: .45;
}
.input_box_slider > input:last-child {
    flex: .15;
    margin-left: 10px;
}
canvas {
    margin-top: 20px;
    width: 100%; /* Ensures the canvas width adjusts to the container */
    height: 400px; /* Set the desired height */
}
@media (max-width: 600px;) {
    .container {
        padding: 10px;
    }
    input, button {
        padding: 8px;
    }
}
